
<!-- Mail Template -->
<div>

    <p>
        Forgot password request has been raised for your account.
        <br>
        To reset your account password, click on the below link.
        <br>
        <br>
        <a href="http://localhost:8000/user/forgot-password-reset/<%= data.token %>">Reset Password</a>
    </p>
    
    <br>
    <p style="color: red;">
        In case not done by you, Report action.
    </p>

</div>